# Python-specific files
*.pyc
__pycache__/
.pytest_cache/

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Databases
*.db
*.sqlite
*.sqlite3
data/*.db # Specific to your movies.db

# Dependencies
# pip-wheel-cache
.pip/
# poetry-cache
.poetry/

# IDE-specific files (for PyCharm)
.idea/
*.iml

# Log files
*.log

# Temporary files, backups, etc.
*~
*.bak
*.swp

# macOS-specific files
.DS_Store

# Windows-specific files
Thumbs.db