# Python-Specific Files
*.pyc
__pycache__/
.pytest_cache/

# Virtual Environments
.venv/
venv/
env/
movi/

# Databases
*.db
*.sqlite
*.sqlite3
data/*.db

# Dependencies
# pip-wheel-cache
.pip/
# poetry-cache
.poetry/

# IDE-Specific Files (for PyCharm)
.idea/
*.iml

# Log Files
*.log

# Temporary Files, Backups, etc.
*~
*.bak
*.swp

# macOS-Specific Files
.DS_Store

# Windows-Specific Files
Thumbs.db

# Environment Variables
.env